<!DOCTYPE html>

{% extends 'base.html'%}
{% load static%}




{% block content %}

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Our Team of Ethical Hackers</h1>
				<!-- Page Description -->
				<p>We are a leading provider of ethical hacking and cybersecurity training. Our mission is to empower individuals to become ethical hackers, equipping them with the skills needed to test and secure systems against black-hat hackers.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->



<!--==================================
=            Feature Team            =
===================================-->
<section class="founders section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<!-- Featured Member -->
				<div class="founder">
					<!-- Member Image -->
					<img class="w-100" src="{% static 'images/team/ceofounder1.png'%}" alt="featured-member">
					<!-- Name -->
					<h2>Elon Musk</h2>
					<!-- Position -->
					<cite>Founder & CEO</cite>
					<!-- Description -->
					<p>As a leader in ethical hacking and cybersecurity training, I am passionate about empowering individuals to become ethical hackers. Our mission is to equip people with the skills needed to test and secure systems against black-hat hackers. Through our comprehensive training programs, we help shape the next generation of cybersecurity professionals, ensuring they are well-prepared to protect sensitive information and maintain the integrity of systems.</p>
					<!-- Social Sites -->
					<ul class="list-inline social-links">
						<li class="list-inline-item"><a href=""><i class="ti-facebook"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="ti-twitter"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="ti-instagram"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="ti-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<!-- Featured Member -->
				<div class="founder">
					<!-- Member Image -->
					<img class="w-100" src="{% static 'images/team/ceofounder2.png'%}" alt="featured-member">
					<!-- Name -->
					<h2>Sergey Brin</h2>
					<!-- Position -->
					<cite>Founder & CEO</cite>
					<!-- Description -->
					<p>At the forefront of ethical hacking and cybersecurity training, I am committed to teaching individuals how to effectively safeguard systems against cyber threats. Our courses not only provide essential hacking skills but also focus on the ethical implications of cybersecurity. By fostering a strong ethical mindset, we enable our students to become proficient security testers, capable of outsmarting potential threats and reinforcing system defenses.</p>
					<!-- Social Sites -->
					<ul class="list-inline social-links">
						<li class="list-inline-item"><a href=""><i class="ti-facebook"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="ti-twitter"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="ti-instagram"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="ti-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Feature Team  ====-->


<!--=================================
=            Design Team            =
==================================-->
<section class="design-team section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Our Cybersecurity Experts</h2>
					<p>At Sudozain, we are committed to providing top-notch ethical hacking and cybersecurity training. Our team teaches the skills necessary to become ethical hackers who can test and secure systems against black-hat hackers.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="{% static 'images/team/expertp1.webp'%} " alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href=""><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="ti-twitter"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="ti-instagram"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="ti-dribbble"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Jonathon Ozil</h3>
	<!-- Position -->
	<cite>Cybersecurity Trainer</cite>
	<!-- Description -->
	<p>Jonathon has extensive experience in ethical hacking and cybersecurity. He is passionate about teaching individuals the skills needed to secure systems and protect against cyber threats.</p>
</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="{% static 'images/team/expertp2.jpg'%}" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href=""><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="ti-twitter"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="ti-instagram"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="ti-dribbble"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Jonathon Ballack</h3>
	<!-- Position -->
	<cite>Cybersecurity Consultant</cite>
	<!-- Description -->
	<p>With a strong background in network security, Jonathon helps students understand the complexities of protecting sensitive data. His expertise lies in risk assessment and security strategy.</p>
</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="{% static 'images/team/expertp3.webp'%}" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href=""><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="ti-twitter"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="ti-instagram"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="ti-dribbble"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Jonathon Muller</h3>
	<!-- Position -->
	<cite>Ethical Hacking Specialist</cite>
	<!-- Description -->
	<p>Jonathon specializes in penetration testing and vulnerability assessment, equipping students with practical skills to identify and remediate security flaws in systems.</p>
</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Design Team  ====-->


<!--=================================
=            Cybersecurity Team    =
==================================-->
<section class="design-team section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Cybersecurity Team</h2>
					<p>At our company, we lead in providing ethical hacking and cybersecurity training. Our mission is to empower individuals to become ethical hackers, equipping them with the skills needed to test and secure systems against black-hat hackers.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" src="{% static 'images/team/expert1.png'%}" alt="member-image">
						<!-- Social Contacts -->
						<div class="social-links">
							<ul class="list-inline">
								<li class="list-inline-item"><a href=""><i class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti-instagram"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- Name -->
					<h3>Jonathon Kimmich</h3>
					<!-- Position -->
					<cite>Head Of Training</cite>
					<!-- Description -->
					<p>Jonathon is an expert in ethical hacking with a passion for teaching. He focuses on equipping students with the knowledge to identify and mitigate security threats effectively.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" src="{% static 'images/team/expert2.webp'%}" alt="member-image">
						<!-- Social Contacts -->
						<div class="social-links">
							<ul class="list-inline">
								<li class="list-inline-item"><a href=""><i class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti-instagram"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- Name -->
					<h3>Sarah Conner</h3>
					<!-- Position -->
					<cite>Cybersecurity Specialist</cite>
					<!-- Description -->
					<p>With years of experience in cybersecurity, Sarah specializes in threat assessment and vulnerability management, ensuring our training programs remain up-to-date with industry standards.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
				<div class="team-sm">
					<!-- Team Member Image -->
					<div class="image">
						<img class="w-100" src="{% static 'images/team/expert3.png'%}" alt="member-image">
						<!-- Social Contacts -->
						<div class="social-links">
							<ul class="list-inline">
								<li class="list-inline-item"><a href=""><i class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti-instagram"></i></a></li>
								<li class="list-inline-item"><a href=""><i class="ti-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- Name -->
					<h3>Michael Brown</h3>
					<!-- Position -->
					<cite>Lead Ethical Hacker</cite>
					<!-- Description -->
					<p>As a lead ethical hacker, Michael brings a wealth of knowledge in penetration testing and security auditing. He is dedicated to helping students understand real-world hacking scenarios.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Cybersecurity Team  ====-->

<!--=====================================
=            Section comment            =
======================================-->

<section class="section cta-hire bg-gary">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<!-- Hire Title -->
				<h2>Become an Ethical Hacker with Us</h2>
				<!-- Job Description -->
				<p>We are a leading provider of ethical hacking and cybersecurity training. Our mission is to empower individuals with the skills needed to test and secure systems against black-hat hackers. Join us to learn hacking and security best practices.</p>
				<!-- Action Button -->
				<a href="{% url 'sapp:careers'%}" class="mt-3 btn btn-main-md">Join the team</a>
			</div>
		</div>
	</div>
</section>


<!--====  End of Section comment  ====-->


</body>

</html>

{%endblock%}